{% extends 'base.html.twig' %}

{% block title %}Type de parcelle | CEC{% endblock %}

{% block h1 %}Type de parcelle{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Type de parcelle</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {{ form_start(type_form) }}

        {{ form_widget(type_form) }}

        <button type="submit" class="btn btn-success">Ajout</button>

        {{ form_end(type_form) }}
    </div>
</div>

<h2>Listes</h2>

<div class="row fit card">
    <table class="table table-fit table-cec table-hover">
        <tr>
            <th>Nom</th>
            <th>Description</th>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for type in types %}
        <tr>
            <td>{{ type.nom }}</td>
            <td>{{ type.description }}</td>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <td>
                    <a class="btn btn-default" title="Modifier" href="{{ path('update_type', {'id': type.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" class="btn btn-danger" title="Supprimer" 
                            data-toggle="modal" data-target="#delete-modal"
                            onclick="del('{{ path('delete_type', {'id': type.id}) }}')">
                        <i class="fas fa-trash"></i>
                    </a>
                {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}