{% extends 'base.html.twig' %}

{% block title %}Hello MilieuController!{% endblock %}

{% block body %}

<h1>MILIEU</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(milieu_form) }}

    {{ form_widget(milieu_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(milieu_form) }}
</div>

<h2>Listes</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    {% for milieu in milieus %}
    <tr>
        <td>{{ milieu.nom }}</td>
        <td>{{ milieu.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}