{% extends 'base.html.twig' %}

{% block title %}Hello CeController!{% endblock %}

{% block body %}

<h1>Champ Ecole</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(ce_form) }}

    {{ form_widget(ce_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(ce_form) }}
</div>

<h2>Listes</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    {% for ce in ces %}
    <tr>
        <td>{{ ce.nom }}</td>
        <td>{{ ce.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
