{% extends 'base.html.twig' %}

{% block title %}Insecticides | CEC{% endblock %}

{% block h1 %}Insecticides{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Insecticides</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {{ form_start(base_form) }}

        {{ form_widget(base_form) }}

        <button type="submit" class="btn btn-success">Ajout</button>

        {{ form_end(base_form) }}
    </div>
</div>

<h2>Listes</h2>

<div class="row fit card">
    <table class="table table-fit table-cec table-hover">
        <tr>
            <th>Nom</th>
            <th>Rente</th>
            <th>Description</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for base in bases %}
        <tr>
            <td>{{ base.nom }}</td>
            <td>{{ base.prix }}</td>
            <td>{{ base.description }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a class="btn btn-default" title="Modifier" 
                            href="{{ path('update_insecticide', {'id': base.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger" title="Supprimer" 
                            data-toggle="modal" data-target="#delete-modal"
                            onclick="del('{{ path('delete_insecticide', {'id': base.id}) }}')">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
