{% extends 'base.html.twig' %}

{% block title %}Hello CultureFilleController!{% endblock %}

{% block body %}

<h1>Cultures</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(base_form) }}

    <label for="plante">Plante: </label>
    <select name="plante" id="plante" class="form-control">
    {% for plante in plantes %}
        <option value="{{ plante.id }}">{{ plante.nom }}</option>
    {% endfor %}
    </select>
    <label for="variete">Variete: </label>
    <select name="variete" id="variete" class="form-control">
        <option></option>
    {% for variete in varietes %}
        <option value="{{ variete.id }}">{{ variete.nom }}</option>
    {% endfor %}
    </select>

    {{ form_widget(base_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(base_form) }}
</div>

{% endblock %}