{% extends 'base.html.twig' %}

{% block title %}Variétés | CEC{% endblock %}

{% block h1 %}Variétés{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Variétés</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {{ form_start(base_form) }}

        <label for="foreign">Culture: </label>
        <select name="foreign" id="foreign" class="form-control">
            <option></option>
        {% for foreign in foreigns %}
            <option {% if base.culture is not null and base.culture.id == foreign.id %}selected{% endif %} value="{{ foreign.id }}">{{ foreign.nom }}</option>
        {% endfor %}
        </select>

        {{ form_widget(base_form) }}

        <button type="submit" class="btn btn-success">Ajout</button>

        {{ form_end(base_form) }}
    </div>
</div>

<h2>Listes</h2>

<div class="row fit card">
    <table class="table table-fit table-cec table-hover">
        <tr>
            <th>Nom</th>
            <th>Culture</th>
            <th>Description</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for base in bases %}
        <tr>
            <td>{{ base.nom }}</td>
            <td>
                {% if base.culture is not null %}
                    {{ base.culture.nom }}
                {% endif %}
            </td>
            <td>{{ base.description }}</td>
            {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a class="btn btn-default" title="Modifier" 
                            href="{{ path('update_variete', {'id': base.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger" title="Supprimer" 
                            data-toggle="modal" data-target="#delete-modal"
                            onclick="del('{{ path('delete_variete', {'id': base.id}) }}')">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}