{% extends 'base.html.twig' %}

{% block title %}Liste des agriculteurs | CEC{% endblock %}

{% block h1 %}Liste des agriculteurs{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Liste des agriculteurs</li>
{% endblock %}

{% block body %}
<div class="row fit card">
    <table class="table table-fit table-cec table-hover">
        <tr class="table-cec-header">
            <th class="text-left">id</th>
            <th class="text-left">Nom et prénom</th>
            <th class="text-center">Genre</th>
            <th class="text-right">Age</th>
            <th class="text-center">Statut</th>
            <th class="text-center">Type</th>
            <th class="text-center">District</th>
            <th class="text-center">Commune</th>
            <th class="text-center">Village</th>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <th></th>
                <th></th>
            {% endif %}
            
        </tr>
        {% for agriculteur in agriculteurs %}
        <tr>
            <td class="text-left">
                <a class="" href="{{ path('detail_agriculteur', 
                        {'id': agriculteur.id}) }}">
                    AG_{{ agriculteur.id }}
                </a>
            </td>
            <td class="text-left">
                <a class="" href="{{ path('detail_agriculteur', 
                        {'id': agriculteur.id}) }}">
                    {{ agriculteur.nom }} {{ agriculteur.prenom }}
                </a>
            </td>
            <td class="text-center">
                {% if agriculteur.genre == 0  %}
                    Femme
                {% else %}
                    Homme
                {% endif %}
            </td>
            <td class="text-right">{{ agriculteur.age }}</td>
            <td class="text-center">{{ agriculteur.statutFamille }}</td>
            <td>
                {% if agriculteur.typologie is not null %}
                    {{ agriculteur.typologie.nom }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if agriculteur.sousRegion is not null %}
                    {{ agriculteur.sousRegion.nom }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if agriculteur.commune is not null %}
                    {{ agriculteur.commune.nom }}
                {% endif %}
            </td>
            <td class="text-center">
                {% if agriculteur.village is not null %}
                    {{ agriculteur.village.nom }}
                {% endif %}
            </td>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <td>
                    <a class="btn btn-default" title="Modifier" href="{{ path('update_agriculteur', {'id': agriculteur.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="#" class="btn btn-danger" title="Supprimer" 
                                data-toggle="modal" data-target="#delete-modal"
                                onclick="del('{{ path('delete_agriculteur', {'id': agriculteur.id}) }}')">
                            <i class="fas fa-trash"></i>
                        </a>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<a class="btn btn-primary" href="{{ path('export_agriculteur') }}" onclick="window.location.href = '{{ path('export_agriculteur') }}'"
        data-toggle="modal" data-target="#loading-modal">
    <i class="fas fa-download"></i>Télécharger
</a>
<br>
<br>

{% endblock %}
