{% extends 'base.html.twig' %}

{% block title %}Hello EmplacementPIController!{% endblock %}

{% block body %}

<h1>EMPLACEMENT PI</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(emplacementPI_form) }}

    {{ form_widget(emplacementPI_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(emplacementPI_form) }}
</div>

<h2>Listes</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    {% for emplacementPI in emplacementPIs %}
    <tr>
        <td>{{ emplacementPI.nom }}</td>
        <td>{{ emplacementPI.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
