{% extends 'base.html.twig' %}

{% block title %}Ajout d'une nouvelle culture | CEC{% endblock %}

{% block h1 %}Ajout d'une nouvelle culture{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path('detail_parcelle', {'id': parcelleId }) }}">
            PL_{{ parcelleId }}
        </a>
    </li>
    <li class="breadcrumb-item active">Ajout d'une nouvelle culture</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">

        {{ form_start(base_form) }}

        <div class="row">

            <div class="col-md-4">
                <label for=""><br></label>
                <div class="form-group form-control form-group-bottom">
                    {{ form_widget(base_form.nouvellePlantation) }}
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="cycleAgricole"> Cycle agricole: </label>
                <select name="cycleAgricole" id="cycleAgricole" class="form-control">
                <option></option>
                {% for cycleAgricole in cycleAgricoles %}
                    <option {% if culture is not null and culture.cycleAgricole.id == cycleAgricole.id %}selected{% endif %} value="{{ cycleAgricole.id }}">
                        {{ cycleAgricole.nom }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="form_surfaceCultive" class="required">Surface cultivée (ha)</label>
                {{ form_widget(base_form.surfaceCultive, {'attr': {'placeholder': 'Taper ici la surface cultivé en ha'}}) }}
            </div>

            <div class="form-group col-md-4">
                <label for="precedentCultural"> Précédent cultural: </label>
                <select name="precedentCultural" id="precedentCultural" class="form-control">
                <option></option>
                {% for precedentCultural in precedentCulturals %}
                    <option {% if culture is not null and culture.precedentCultural.id == precedentCultural.id %}selected{% endif %} 
                            value="{{ precedentCultural.id }}">
                        {{ precedentCultural.nom }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="systemeCultural"> Système cultural: </label>
                <select name="systemeCultural" id="systemeCultural" class="form-control">
                <option></option>
                {% for systemeCultural in systemeCulturals %}
                    <option {% if culture is not null and culture.systemeCultural.id == systemeCultural.id %}selected{% endif %} 
                            value="{{ systemeCultural.id }}">
                        {{ systemeCultural.nom }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="itineraireCultural"> Itinéraire cultural: </label>
                <select name="itineraireCultural" id="itineraireCultural" class="form-control">
                <option></option>
                {% for itineraireCultural in itineraireCulturals %}
                    <option {% if culture is not null and culture.itineraireCultural.id == itineraireCultural.id == 0 %}selected{% endif %}
                            value="{{ itineraireCultural.id }}">
                        {{ itineraireCultural.nom }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="form_moPreparationSol" class="required">MO préparation du sol</label>
                {{ form_widget(base_form.moPreparationSol, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moInstallationCulture" class="required">MO installation culture</label>
                {{ form_widget(base_form.moInstallationCulture, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moEntretien1" class="required">MO entretien 1</label>
                {{ form_widget(base_form.moEntretien1, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moEntretien2" class="required">MO entretien 2</label>
                {{ form_widget(base_form.moEntretien2, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moEntretien3" class="required">MO entretien 3</label>
                {{ form_widget(base_form.moEntretien3, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moRecolte" class="required">MO récolte</label>
                {{ form_widget(base_form.moRecolte, {'attr': {'placeholder': ''}}) }}
            </div>

            <div class="form-group col-md-4">
                <label for="form_moExtPreparationSol" class="required">MO Exté préparation du sol</label>
                {{ form_widget(base_form.moExtPreparationSol, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moExtInstallationCulture" class="required">MO Exté installation culture</label>
                {{ form_widget(base_form.moExtInstallationCulture, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moExtEntretien1" class="required">MO Exté entretien 1</label>
                {{ form_widget(base_form.moExtEntretien1, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moExtEntretien2" class="required">MO Exté entretien 2</label>
                {{ form_widget(base_form.moExtEntretien2, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moExtEntretien3" class="required">MO Exté entretien 3</label>
                {{ form_widget(base_form.moExtEntretien3, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_moExtRecolte" class="required">MO Exté récolte</label>
                {{ form_widget(base_form.moExtRecolte, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_tarifMO" class="required">Tarif main oeuvre (Ar)</label>
                {{ form_widget(base_form.tarifMO, {'attr': {'placeholder': ''}}) }}
            </div>

            <div class="form-group col-md-4">
                <label for="form_datePlantation" class="required">Date de plantation</label>
                {{ form_widget(base_form.datePlantation, {'attr': {'placeholder': ''}}) }}
            </div>
            <div class="form-group col-md-4">
                <label for="form_agePlantation" class="required">Age de plantation</label>
                {{ form_widget(base_form.agePlantation, {'attr': {'placeholder': ''}}) }}
            </div>

            <div class="form-group col-md-4">
                <label for="form_qteFumureOrganique" class="required">Qté fumure organique</label>
                {{ form_widget(base_form.qteFumureOrganique, {'attr': {'placeholder': ''}}) }}
            </div>

            {% for fumure in fumures %}
                <div class="form-group col-md-4">
                    <label for="nbr_{{ fumure.nom }}"> {{ fumure.nom }}</label>
                    <input type="number" name="fumure_{{ fumure.id }}" id="nbr_{{ fumure.nom }}" class="form-control">
                </div>
            {% endfor %}

            <div class="form-group col-md-4">
                <label for="form_qteInsecticide" class="required">Qté insecticides</label>
                {{ form_widget(base_form.qteInsecticide, {'attr': {'placeholder': ''}}) }}
            </div>

            {% for insecticide in insecticides %}
                <div class="form-group col-md-4">
                    <label for="nbr_{{ insecticide.nom }}"> {{ insecticide.nom }}</label>
                    <input type="number" name="insecticide_{{ insecticide.id }}" id="nbr_{{ insecticide.nom }}" class="form-control">
                </div>
            {% endfor %}

            <div class="col-md-4">
                <label for=""><br></label>
                <div class="form-group form-control form-group-bottom">
                    {{ form_widget(base_form.misEnCloture) }}
                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-success">Enregistrer</button>

        {{ form_end(base_form) }}

    </div>

</div>

{% endblock %}

{% block javascripts %}
<script>

    $(function () {
        $('#form_surfaceCultive').change(function () {
            checkSurface();
        });
    });

    function checkSurface() {
        {% if parcelle is not null %}
            var limite = 0;
            limite = {{ parcelle.surface }}
            {% if parcelle.cultureMeres is not null %}
                {% for mere in parcelle.cultureMeres %}
                    limite -= {{ mere.surfaceCultive }};
                {% endfor %}
            {% endif %}

            var current = $('#form_surfaceCultive').val();
            
            if (limite != 0) {
                current > limite ? alert('la valeur doit être inférieur ou égale à ' + limite) : console.log(limite);
            }

        {% endif %}
    }
</script>
{% endblock %}