{% extends 'base.html.twig' %}

{% block title %}Ajout d'une nouvelle culture | CEC{% endblock %}

{% block h1 %}Ajout d'une nouvelle agriculture{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item">
        <a href="{{ path('detail_parcelle', {'id': parcelleId }) }}">
            PL_{{ parcelleId }}
        </a>
    </li>
    <li class="breadcrumb-item active">Ajout d'une nouvelle culture</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">

        {{ form_start(base_form) }}

        <div class="form-group">
            {{ form_widget(base_form.nouvellePlantation) }}
        </div>

        <label for="cycleAgricole"> Cycle agricole: </label>
        <select name="cycleAgricole" id="cycleAgricole" class="form-control">
        <option></option>
        {% for cycleAgricole in cycleAgricoles %}
            <option value="{{ cycleAgricole.id }}">{{ cycleAgricole.nom }}</option>
        {% endfor %}
        </select>

        <div class="form-group">
            <label for="form_nom" class="required">Surface cultivée (ha)</label>
            {{ form_widget(base_form.surfaceCultive, {'attr': {'placeholder': 'Taper ici la surface cultivé en ha'}}) }}
        </div>

        <label for="precedentCultural"> Précédent cultural: </label>
        <select name="precedentCultural" id="precedentCultural" class="form-control">
        <option></option>
        {% for precedentCultural in precedentCulturals %}
            <option value="{{ precedentCultural.id }}">{{ precedentCultural.nom }}</option>
        {% endfor %}
        </select>

        <label for="systemeCultural"> Système cultural: </label>
        <select name="systemeCultural" id="systemeCultural" class="form-control">
        <option></option>
        {% for systemeCultural in systemeCulturals %}
            <option value="{{ systemeCultural.id }}">{{ systemeCultural.nom }}</option>
        {% endfor %}
        </select>

        <label for="itineraireCultural"> Itinéraire cultural: </label>
        <select name="itineraireCultural" id="itineraireCultural" class="form-control">
        <option></option>
        {% for itineraireCultural in itineraireCulturals %}
            <option value="{{ itineraireCultural.id }}">{{ itineraireCultural.nom }}</option>
        {% endfor %}
        </select>

        <div class="form-group">
            <label for="form_nom" class="required">MO préparation du sol</label>
            {{ form_widget(base_form.moPreparationSol, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO installation culture</label>
            {{ form_widget(base_form.moInstallationCulture, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO entretien 1</label>
            {{ form_widget(base_form.moEntretien1, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO entretien 2</label>
            {{ form_widget(base_form.moEntretien2, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO entretien 3</label>
            {{ form_widget(base_form.moEntretien3, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO récolte</label>
            {{ form_widget(base_form.moRecolte, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO Exté préparation du sol</label>
            {{ form_widget(base_form.moExtPreparationSol, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO Exté installation culture</label>
            {{ form_widget(base_form.moExtInstallationCulture, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO Exté entretien 1</label>
            {{ form_widget(base_form.moExtEntretien1, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO Exté entretien 2</label>
            {{ form_widget(base_form.moExtEntretien2, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO Exté entretien 3</label>
            {{ form_widget(base_form.moExtEntretien3, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">MO Exté récolte</label>
            {{ form_widget(base_form.moExtRecolte, {'attr': {'placeholder': ''}}) }}
        </div>


        <div class="form-group">
            <label for="form_nom" class="required">Date de plantation</label>
            {{ form_widget(base_form.datePlantation, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">Age de plantation</label>
            {{ form_widget(base_form.agePlantation, {'attr': {'placeholder': ''}}) }}
        </div>
        <div class="form-group">
            <label for="form_nom" class="required">Qté fumure organique</label>
            {{ form_widget(base_form.qteFumureOrganique, {'attr': {'placeholder': ''}}) }}
        </div>

        {% for fumure in fumures %}
            <label for="nbr_{{ fumure.nom }}"> {{ fumure.nom }}</label>
            <input type="number" name="fumure_{{ fumure.id }}" id="nbr_{{ fumure.nom }}" class="form-control">
        {% endfor %}

        <div class="form-group">
            <label for="form_nom" class="required">Qté insecticides</label>
            {{ form_widget(base_form.qteInsecticide, {'attr': {'placeholder': ''}}) }}
        </div>

        {% for insecticide in insecticides %}
            <label for="nbr_{{ insecticide.nom }}"> {{ insecticide.nom }}</label>
            <input type="number" name="insecticide_{{ insecticide.id }}" id="nbr_{{ insecticide.nom }}" class="form-control">
        {% endfor %}

        <div class="form-group">
            {{ form_widget(base_form.misEnCloture) }}
        </div>

        <button type="submit" class="btn btn-success">Enregistrer</button>

        {{ form_end(base_form) }}

    </div>

</div>

{% endblock %}
