{% extends 'base.html.twig' %}

{% block title %}Culture | CEC {% endblock %}

{% block h1 %}Culture_id : CL_{{ culture.id }}{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ path('culture_meres') }}">Liste des cultures</a></li>
    <li class="breadcrumb-item active">CL_{{ culture.id }}</li>
{% endblock %}

{% block body %}

<div class="row card bkg-white">
    <div class="card-head modified-head">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="#" style="float:right;" title="Supprimer" 
                    data-toggle="modal" data-target="#delete-modal"
                    onclick="del('{{ path('delete_culture_mere', {'id': culture.id}) }}')">
                <i class="fas fa-trash"></i>
            </a>
            <a style="float:right;" title="Modifier" href="{{ path('update_culture_mere', {'id': culture.id}) }}">
                <i class="fas fa-edit"></i>
            </a>
        {% endif %}
    </div>
    <div class="card-body">
        <table class="table table-list">
            <tr>
                <th>Id</th>
                <th>Nouvelle plantation</th>
                <th>Cycle agricole</th>
                <th>Surface Cultivée</th>
                <th>Précédent cultural</th>
                <th>Système cultural</th>
                <th>Itinéraire cultural</th>
            </tr>
            <tr>
                <td>
                    <a class="" href="{{ path('detail_parcelle', 
                            {'id': culture.parcelle.id}) }}">
                        PL_{{ culture.parcelle.id }}
                    </a>
                </td>
                <td>
                    {% if culture.nouvellePlantation == true %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>
                    {% if culture.cycleAgricole is not null %}
                        {{ culture.cycleAgricole.nom }}
                    {% endif %}
                </td>
                <td>{{ culture.surfaceCultive }}</td>
                <td>
                    {% if culture.precedentCultural is not null %}
                        {{ culture.precedentCultural.nom }}
                    {% endif %}
                </td>
                <td>
                    {% if culture.systemeCultural is not null %}
                        {{ culture.systemeCultural.nom }}
                    {% endif %}
                </td>
                <td>
                    {% if culture.itineraireCultural is not null %}
                        {{ culture.itineraireCultural.nom }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row bkg-white fit card">
    <div class="card-header modified-head">
        <h3 class="card-title">
            Cultures composantes
        </h3>

        <div class="card-tools">
            {# <a type="button" class="btn btn-tool" title="Ajouter une nouvelle culture" 
                    href="{{ path('ajout_culture_fille_from_mere', {'idCultureMere': culture.id}) }}">
                <i class="fas fa-plus"></i>
            </a> #}
        </div>
    </div>
    <div class="card-body">
        <table class="table table-fit table-hover table-form">
            <tr>
                <th>Espèce</th>
                <th>Variété</th>
                <th>Date de plantation/semis</th>
                <th class="text-right">Qté de semence/nbr plant</th>
                <th class="text-right">Prix unitaire</th>
                <th class="text-right">Prix total</th>
                <th class="text-center">Date récolte</th>
                <th class="text-right">Production</th>
                <th class="text-right">Prix unitaire</th>
                <th class="text-right">Prix total</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                    <th></th>
                {% endif %}
            </tr>
            {% for cle in culture.cultureFilles %}
            <tr>
                <td>
                    {% if cle.plante is not null %}
                        {{ cle.plante.nom }}
                    {% endif %}
                </td>
                <td>
                    {% if cle.variete is not null %}
                        {{ cle.variete.nom }}
                    {% endif %}
                </td>
                <td class="text-center">{% if cle.datePlantation is not null %}{{ cle.datePlantation | date("d/m/Y") }}{% endif %}</td>
                <td class="text-right">{{ cle.QteSemence }}</td>
                <td class="text-right">{{ cle.prixUnitaireSemence }}</td>
                <td class="text-right">{{ cle.prixUnitaireSemence * cle.QteSemence }}</td>
                <td class="text-center">{% if cle.dateRecolte is not null %}{{ cle.dateRecolte | date("d/m/Y") }}{% endif %}</td>
                <td class="text-right">{{ cle.production }}</td>
                <td class="text-right">{{ cle.prixUnitaireProduit }}</td>
                <td class="text-right">{{ cle.prixUnitaireProduit * cle.production }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a class="btn btn-default" title="Modifier" href="{{ path('update_culture_fille', {'id': cle.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="#" class="btn btn-danger" title="Supprimer" 
                                data-toggle="modal" data-target="#delete-modal"
                                onclick="del('{{ path('delete_culture_fille', {'id': cle.id}) }}')">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
            {{ form_start(form) }}
                <tr>
                    <td>
                        <select name="plante" id="plante" class="form-control" onchange="filter()">
                        {% for plante in plantes %}
                            <option value="{{ plante.id }}">{{ plante.nom }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="variete" id="variete" class="form-control">
                            <option></option>
                        {% for variete in varietes %}
                            <option class="varietes {% if variete.culture is not null %}variete_{{ variete.culture.id }}{% endif %}" 
                                    value="{{ variete.id }}">{{ variete.nom }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td style="min-width: 160px;">
                        {{ form_widget(form.datePlantation) }}
                    </td>
                    <td>
                        {{ form_widget(form.QteSemence, {'attr': {'placeholder': 'Taper ici la qté de semence en (kg) ...'}})  }}
                    </td>
                    <td>{{ form_widget(form.prixUnitaireSemence) }}</td>
                    <td id="prixTotalSemence" class="text-right">0</td>
                    <td style="min-width: 160px;">
                        {{ form_widget(form.dateRecolte) }}
                    </td>
                    <td>
                        {{ form_widget(form.production, {'attr': {'placeholder': 'Taper ici la production en (kg) ...'}}) }}
                    </td>
                    <td>{{ form_widget(form.prixUnitaireProduit) }}</td>
                    <td id="prixTotalProduit" class="text-right">0</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="submit" class="btn btn-success">Ajout</button></td>
                </tr>
            {{ form_end(form) }}
        </table>
    </div>
</div>

<div class="row bkg-white card">
    <div class="card-body">
        <table class="table table-hover table-fit">
            <tr>
                <th>MO Preparation Sol</th>
                <td>{{ culture.moPreparationSol }}</td>
                <th>MO Installation Culture</th>
                <td>{{ culture.moInstallationCulture }}</td>
                <th>MO Entretien 1</th>
                <td>{{ culture.moEntretien1 }}</td>
            </tr>
            <tr>
                <th>MO Entretien 2</th>
                <td>{{ culture.moEntretien2 }}</td>
                <th>MO Entretien 3</th>
                <td>{{ culture.moEntretien3 }}</td>
                <th>MO Recolte</th>
                <td>{{ culture.moRecolte }}</td>
            </tr>
            <tr>
                <th>MO Ext Preparation Sol</th>
                <td>{{ culture.moExtPreparationSol }}</td>
                <th>MO ExtInstallation Culture</th>
                <td>{{ culture.moExtInstallationCulture }}</td>
                <th>MO Ext Entretien 1</th>
                <td>{{ culture.moExtEntretien1 }}</td>
            </tr>
            <tr>
                <th>MO Ext Entretien 2</th>
                <td>{{ culture.moExtEntretien2 }}</td>
                <th>MO Ext Entretien 3</th>
                <td>{{ culture.moExtEntretien3 }}</td>
                <th>MO Ext Recolte</th>
                <td>{{ culture.moExtRecolte }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th>Tarif pour les mains d'oeuvre</th>
                <td>{{ culture.tarifMO }}</td>
                <th>Date de Plantation</th>
                <td></td>
                <td>{{ culture.datePlantation | date("d/m/Y")  }}</td>
                <td></td>
            </tr>
            
            <tr>
                <th>Age Plantation : </th>
                <td>{{ culture.agePlantation }}</td>
                <th>Qte Fumure Organique</th>
                <td></td>
                <td>{{ culture.qteFumureOrganique }}</td>
                <td></td>
            </tr>

            {% for fumure in culture.nbrFumureCultureMs %}
                {% if loop.index0 is divisible by(2) %}
                    <tr>
                {% endif %}
                    <th>{{ fumure.fumure.nom }} : </th>
                    {% if loop.index0 is not divisible by(2) %}
                        <td></td>
                    {% endif %}
                    <td>{{ fumure.nbr }}</td>
                {% if loop.index0 is not divisible by(2) %}
                    </tr>
                {% endif %}
            {% endfor %}

            <tr>
                <th>Qte Insecticide</th>
                <td>{{ culture.qteInsecticide }}</td>
            {% for insecticide in culture.nbrInsecticideCultureMs %}
                {% if loop.index is divisible by(2) %}
                    <tr>
                {% endif %}
                    <th>{{ insecticide.insecticide.nom }} : </th>
                    {% if loop.index is not divisible by(2) %}
                        <td></td>
                    {% endif %}
                    <td>{{ insecticide.nbr }}</td>
                {% if loop.index is not divisible by(2) %}
                    </tr>
                {% endif %}
            {% endfor %}
            
            <tr>
                <th>Mis en Culture</th>
                <td>
                    {% if culture.misEnCloture == true %}
                        Oui
                    {% else %}
                        Non
                    {% endif %}
                </td>
            </tr>

        </table>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script>

        function filter() {
            $('.varietes').hide();
            $('.variete_'+$('#plante').val()).show();
            console.log("to show : ");
            console.log('.variete_'+$('#plante').val());
        }

        function setTotal(a, b, idDomResult) {
            if (a && b) {
                $('#'+idDomResult).text(a*b);
                console.log('Value of ' + idDomResult + '=' + a + '*' + b);
                console.log( $('#'+idDomResult).text() );
            } else {
                console.log('setTotal : some values are undefined');
            }
        }

        $('#form_prixUnitaireSemence').change( function () {
            setTotal($('#form_prixUnitaireSemence').val(), $('#form_QteSemence').val(), 'prixTotalSemence');
        });

        $('#form_QteSemence').change( function () {
            setTotal($('#form_prixUnitaireSemence').val(), $('#form_QteSemence').val(), 'prixTotalSemence');
        });

        $('#form_prixUnitaireProduit').change( function () {
            setTotal($('#form_prixUnitaireProduit').val(), $('#form_production').val(), 'prixTotalProduit');
        });

        $('#form_production').change( function () {
            setTotal($('#form_prixUnitaireProduit').val(), $('#form_production').val(), 'prixTotalProduit');
        });

    </script>
{% endblock %}