{% extends 'base.html.twig' %}

{% block title %}Ajout d'un nouveau parcelle | CEC{% endblock %}

{% block h1 %}Ajout d'un nouveau parcelle{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Ajout d'un nouveau parcelle</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">

        {{ form_start(form_parcelle) }}

        <div class="row">
            <div class="form-group col-md-12">
                <label for="agriculteur">Agriculteur: </label>
                <select name="agriculteur" id="agriculteur" class="form-control">
                {% for ce in agriculteurs %}
                    <option {% if parcelle is not null and parcelle.agriculteur.id == ce.id %} selected {% endif %} value="{{ ce.id }}">
                        AG_{{ ce.id }} : {{ ce.nom }} {{ ce.prenom }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="form_nom" class="required">Surface (ha)</label>
                {{ form_widget(form_parcelle.surface, {'attr': {'placeholder': 'Taper ici la surface en (ha)'}}) }}
            </div>

            <div class="form-group col-md-6">
                <label for="type">Type: </label>
                <select name="type" id="type" class="form-control">
                {% for ce in types %}
                    <option {% if parcelle is not null and ce.id == parcelle.type.id %} selected {% endif %} value="{{ ce.id }}">
                        {{ ce.nom }}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="typeSol">Type de sol: </label>
                <select name="typeSol" id="typeSol" class="form-control">
                {% for ce in typeSols %}
                    <option {% if parcelle is not null and ce.id == parcelle.typeSol.id %} selected {% endif %}  value="{{ ce.id }}">
                        {{ ce.nom }}
                    </option>
                {% endfor %}
                </select> 
            </div>

            <div class="form-group col-md-6">
                <label for="modeFaireValoirs">Mode de faire valoir: </label>
                <select name="modeFaireValoir" id="modeFaireValoirs" class="form-control">
                {% for ce in modeFaireValoirs %}
                    <option {% if parcelle is not null and ce.id == parcelle.modeFaireValoir.id %} selected {% endif %}  value="{{ ce.id }}">
                        {{ ce.nom }}
                    </option>
                {% endfor %}
                </select> 
            </div>

            <div class="form-group col-md-6">
                <label for="localisations">Localisation: </label>
                <select name="localisation" id="localisations" class="form-control">
                {% for ce in localisations %}
                    <option {% if parcelle is not null and ce.id == parcelle.localisation.id %} selected {% endif %}  value="{{ ce.id }}">
                        {{ ce.nom }}
                    </option>
                {% endfor %}
                </select> 
            </div>

            <div class="form-group col-md-6">
                <label for="milieux">Milieu: </label>
                <select name="milieu" id="milieux" class="form-control">
                {% for ce in milieux %}
                    <option {% if parcelle is not null and ce.id == parcelle.milieu.id %} selected {% endif %}  value="{{ ce.id }}">
                        {{ ce.nom }}
                    </option>
                {% endfor %}
                </select> 
            </div>

            <div class="col-md-6">
                <div class="form-group form-control form-group-bottom">
                    {{ form_widget(form_parcelle.irrigation) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group form-control form-group-bottom">
                    {{ form_widget(form_parcelle.compaction) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group form-control form-group-bottom">
                    {{ form_widget(form_parcelle.contreSaison) }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group form-control form-group-bottom">
                    {{ form_widget(form_parcelle.zoneErodible) }}
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="form_nom" class="required">Longitude</label>
                {{ form_widget(form_parcelle.longitude, {'attr': {'placeholder': 'Taper ici la longitude (ex: 47.5167)'}}) }}
            </div>

            <div class="form-group col-md-6">
                <label for="form_nom" class="required">Latitude</label>
                {{ form_widget(form_parcelle.latitude, {'attr': {'placeholder': 'Taper ici la latitude (ex: -18.9333)'}}) }}
            </div>

            <div class="form-group col-md-12">
                <label for="form_nom" class="required">Observation</label>
                {{ form_widget(form_parcelle.observation, {'attr': {'placeholder': 'Taper ici votre observation'}}) }}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Enregistrer</button>

        {{ form_end(form_parcelle) }}

    </div>

</div>

{% endblock %}

{% block javascripts %}
<script>

    $(function () {
        $('#form_surface').change(function () {
            checkSurface();
        });
    });

    function checkSurface() {
        {% if parcelle is not null %}
            {% if parcelle.agriculteur is not null %}
                var limite = 0;
                limite = {{ parcelle.agriculteur.surfaceTotaleExploitee }}
                {% if parcelle.agriculteur.parcelles is not null %}
                    {% for parcelle in parcelle.agriculteur.parcelles %}
                        limite -= {{ parcelle.surface }};
                    {% endfor %}
                    limite += {{ parcelle.surface }}
                {% endif %}

                var current = $('#form_surface').val();
                
                if (limite != 0) {
                    current > limite ? alert('la valeur doit être inférieur ou égale à ' + limite) : console.log(limite);
                }

            {% endif %}
        {% endif %}
    }
</script>
{% endblock %}