{% extends 'base.html.twig' %}

{% block title %}CEC:Ajout d'un parcelle{% endblock %}

{% block body %}
<h1>Ajout d'un nouvel parcelle</h1>
<div class="">

    {{ form_start(form_parcelle) }}

    <label for="agriculteur">Agriculteur: </label>
    <select name="agriculteur" id="agriculteur" class="form-control">
    {% for ce in agriculteurs %}
        <option value="{{ ce.id }}">AG_{{ ce.id }} : {{ ce.nom }} {{ ce.prenom }}</option>
    {% endfor %}
    </select>

    <div class="form-group">
        <label for="form_nom" class="required">Surface (ha)</label>
        {{ form_widget(form_parcelle.surface, {'attr': {'placeholder': 'Taper ici la surface en (ha)'}}) }}
    </div>

    <label for="type">Type: </label>
    <select name="type" id="type" class="form-control">
    {% for ce in types %}
        <option value="{{ ce.id }}">{{ ce.nom }}</option>
    {% endfor %}
    </select>

    <label for="typeSol">Type de sol: </label>
    <select name="typeSol" id="typeSol" class="form-control">
    {% for ce in typeSols %}
        <option value="{{ ce.id }}">{{ ce.nom }}</option>
    {% endfor %}
    </select> 

    <label for="modeFaireValoirs">Mode de faire valoir: </label>
    <select name="modeFaireValoir" id="modeFaireValoirs" class="form-control">
    {% for ce in modeFaireValoirs %}
        <option value="{{ ce.id }}">{{ ce.nom }}</option>
    {% endfor %}
    </select> 

    <label for="localisations">Localisation: </label>
    <select name="localisation" id="localisations" class="form-control">
    {% for ce in localisations %}
        <option value="{{ ce.id }}">{{ ce.nom }}</option>
    {% endfor %}
    </select> 

    <label for="milieux">Milieu: </label>
    <select name="milieu" id="milieux" class="form-control">
    {% for ce in milieux %}
        <option value="{{ ce.id }}">{{ ce.nom }}</option>
    {% endfor %}
    </select> 

    <div class="form-group">
        {{ form_widget(form_parcelle.irrigation) }}
    </div>

    <div class="form-group">
        {{ form_widget(form_parcelle.compaction) }}
    </div>

    <div class="form-group">
        {{ form_widget(form_parcelle.contreSaison) }}
    </div>

    <div class="form-group">
        {{ form_widget(form_parcelle.zoneErodible) }}
    </div>

    <div class="form-group">
        <label for="form_nom" class="required">Longitude</label>
        {{ form_widget(form_parcelle.longitude, {'attr': {'placeholder': 'Taper ici la longitude (ex: 47.5167)'}}) }}
    </div>

    <div class="form-group">
        <label for="form_nom" class="required">Latitude</label>
        {{ form_widget(form_parcelle.latitude, {'attr': {'placeholder': 'Taper ici la latitude (ex: -18.9333)'}}) }}
    </div>

    <div class="form-group">
        <label for="form_nom" class="required">Observation</label>
        {{ form_widget(form_parcelle.observation, {'attr': {'placeholder': 'Taper ici votre observation'}}) }}
    </div>

    <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(form_parcelle) }}

</div>

{% endblock %}
