{% extends 'base.html.twig' %}

{% block title %}CEC: Parcelle {% endblock %}

{% block body %}
<div class="row">
    <h1>Parcelle : PL_{{ parcelle.id }}</h1>
</div>

<div class="row bkg-white">
    <h2>Information de base</h2>
    <table class="table table-hover table-fit">

        <tr>
            <td>Agriculteur</td>
            <td>
                <a class="" title="{{ parcelle.agriculteur.nom }} {{ parcelle.agriculteur.prenom }}" 
                        href="{{ path('detail_agriculteur', {'id': parcelle.agriculteur.id}) }}">
                    AG_{{ parcelle.agriculteur.id }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Surface</td>
            <td>{{ parcelle.surface }}</td>
        </tr>
        
        <tr>
            <td>Type : </td>
            <td>
                {% if parcelle.type is not null %}
                    {{ parcelle.type.nom }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Type de sol : </td>
            <td>
                {% if parcelle.typeSol is not null %}
                    {{ parcelle.typeSol.nom }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Mode de faire valoir : </td>
            <td>
                {% if parcelle.modeFaireValoir is not null %}
                    {{ parcelle.modeFaireValoir.nom }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Localisation : </td>
            <td>
                {% if parcelle.localisation is not null %}
                    {{ parcelle.localisation.nom }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Milieu : </td>
            <td>
                {% if parcelle.milieu is not null %}
                    {{ parcelle.milieu.nom }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Irrigation</td>
            <td>
                {% if parcelle.irrigation == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Compaction</td>
            <td>
                {% if parcelle.compaction == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Contre saison</td>
            <td>
                {% if parcelle.contreSaison == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Zone erodible</td>
            <td>
                {% if parcelle.zoneErodible == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td>{{ parcelle.longitude }}</td>
        </tr>
        <tr>
            <td>Latitude</td>
            <td>{{ parcelle.latitude }}</td>
        </tr>
        <tr>
            <td>Observation</td>
            <td>{{ parcelle.observation }}</td>
        </tr>
    </table>
</div>
<br>
<div class="row bkg-white fit">
    <h2>Cultures</h2>
    <table class="table table-fit table-hover">
        <tr>
            <th>Culture_id</th>
            <th>Nouvelle plantation</th>
            <th>Cycle agricole</th>
            <th>Surface cultivée</th>
            <th>Précédent cultural</th>
            <th>Système cultural</th>
            <th>Itinéraire cultural</th>
            <th>MO préparation du sol</th>
            <th>MO installation culture</th>
            <th>MO entretien 1</th>
            <th>MO entretien 2</th>
            <th>MO entretien 3</th>
            <th>MO Récolte</th>
            <th>MO Exté préparation du sol</th>
            <th>MO Exté installation du culture</th>
            <th>MO Exté entretien 1</th>
            <th>MO Exté entretien 2</th>
            <th>MO Exté entretien 3</th>
            <th>MO Exté récolte</th>
            <th>Date de plantation</th>
            <th>Age de plantation</th>
            <th>Qté fumure organique</th>
            {% for fumure in fumures %}
                <th>{{ fumure.nom }}</th>
            {% endfor %}
            <th>Qté insecticides</th>
            {% for insecticide in insecticides %}
                <th>{{ insecticide.nom }}</th>
            {% endfor %}
            <th>Mis en cloture</th>
        </tr>
        {% for culture in parcelle.cultureMeres %}
        <tr>
            <td>
                <a class="" href="{{ path('detail_culture_mere', 
                        {'id': culture.id}) }}">
                    CL_{{ culture.id }}
                </a>
            </td>
            <td>
                {% if culture.nouvellePlantation == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
            <td>
                {% if culture.cycleAgricole is not null %}
                    {{ culture.cycleAgricole.nom }}
                {% endif %}
            </td>
            <td>{{ culture.surfaceCultive }}</td>
            <td>
                {% if culture.precedentCultural is not null %}
                    {{ culture.precedentCultural.nom }}
                {% endif %}
            </td>

            <td>
                {% if culture.systemeCultural is not null %}
                    {{ culture.systemeCultural.nom }}
                {% endif %}
            </td>

            <td>
                {% if culture.itineraireCultural is not null %}
                    {{ culture.itineraireCultural.nom }}
                {% endif %}
            </td>

            <td>{{ culture.moPreparationSol }}</td>
            <td>{{ culture.moInstallationCulture }}</td>
            <td>{{ culture.moEntretien1 }}</td>
            <td>{{ culture.moEntretien2 }}</td>
            <td>{{ culture.moEntretien3 }}</td>
            <td>{{ culture.moRecolte }}</td>
            <td>{{ culture.moExtPreparationSol }}</td>
            <td>{{ culture.moExtInstallationCulture }}</td>
            <td>{{ culture.moExtEntretien1 }}</td>
            <td>{{ culture.moExtEntretien2 }}</td>
            <td>{{ culture.moExtEntretien3 }}</td>
            <td>{{ culture.moExtRecolte }}</td>
            <td>{{ culture.datePlantation | date("m/d/Y") }}</td>
            <td>{{ culture.agePlantation }}</td>
            <td>{{ culture.qteFumureOrganique }}</td>
            {% for fumure in fumures %}
                <td>
                {% for eq in culture.nbrFumureCultureMs %}
                    {% if fumure.id == eq.fumure.id %}
                        {{ eq.nbr }}
                    {% endif %}
                {% endfor %}
                </td>
            {% endfor %}
            <td>{{ culture.qteInsecticide }}</td>
            {% for insecticide in insecticides %}
                <td>
                {% for eq in culture.nbrInsecticideCultureMs %}
                    {% if insecticide.id == eq.insecticide.id %}
                        {{ eq.nbr }}
                    {% endif %}
                {% endfor %}
                </td>
            {% endfor %}
            <td>
                {% if culture.misEnCloture == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="row bkg-white">
    <hr>

    <a class="" href="{{ path('culture_mere_add_from_parcelle', {'parcelleId': parcelle.id}) }}">
        <button class="btn btn-primary">Ajouter une culture</button>
    </a>

    <hr>
</div>

{% endblock %}
