{% extends 'base.html.twig' %}

{% block title %}Liste des parcelles | CEC{% endblock %}

{% block h1 %}Liste des parcelles{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Liste des parcelles</li>
{% endblock %}

{% block body %}
<div class="row fit card">
    <table class="table table-fit table-cec table-hover">
        <tr class="table-cec-header">
            <th>Id</th>
            <th>Id_Agriculteur</th>
            <th>Surface</th>
            <th>Type</th>
            <th>TypeSol</th>
            <th>Mode de faire valoir</th>
            <th>Observation</th>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>

        {% for parcelle in parcelles %}
            <tr>
                <td>
                    <a class="" href="{{ path('detail_parcelle', 
                            {'id': parcelle.id}) }}">
                        PL_{{ parcelle.id }}
                    </a>
                </td>
                <td>
                    <a class="" title="{{ parcelle.agriculteur.nom }} {{ parcelle.agriculteur.prenom }}" 
                            href="{{ path('detail_agriculteur', {'id': parcelle.agriculteur.id}) }}">
                        AG_{{ parcelle.agriculteur.id }}
                    </a>
                </td>
                <td>{{ parcelle.surface }}</td>
                <td>{% if parcelle.type is not null %} {{ parcelle.type.nom }} {% endif %}</td>
                <td>{% if parcelle.TypeSol is not null %} {{ parcelle.TypeSol.nom }} {% endif %}</td>
                <td>
                    {% if parcelle.modeFaireValoir is not null %} 
                        {{ parcelle.modeFaireValoir.nom }} 
                    {% endif %}
                </td>
                <td>{{ parcelle.observation }}</td>
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                    <td>
                        <a class="btn btn-default" title="Modifier" href="{{ path('update_parcelle', {'id': parcelle.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="#" class="btn btn-danger" title="Supprimer" 
                                    data-toggle="modal" data-target="#delete-modal"
                                    onclick="del('{{ path('delete_parcelle', {'id': parcelle.id}) }}')">
                                <i class="fas fa-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</div>

<a class="btn btn-primary" href="{{ path('export_parcelle') }}" onclick="window.location.href = '{{ path('export_parcelle') }}'"
        data-toggle="modal" data-target="#loading-modal">
    <i class="fas fa-download"></i>Télécharger
</a>
<br>
<br>

{% endblock %}
