{% extends 'base.html.twig' %}

{% block title %}Hello ElevageController!{% endblock %}

{% block body %}

<h1>Elevage</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(elevage_form) }}

    {{ form_widget(elevage_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(elevage_form) }}
</div>

<h2>Listes</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Rente</th>
        <th>Description</th>
    </tr>
    {% for elevage in elevages %}
    <tr>
        <td>{{ elevage.nom }}</td>
        <td>{{ elevage.rente }}</td>
        <td>{{ elevage.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
