{% extends 'base.html.twig' %}

{% block title %}Hello VillageController!{% endblock %}

{% block body %}

<h1>VILLAGE</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(village_form) }}

    {{ form_widget(village_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(village_form) }}
</div>

<h2>Listes</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    {% for village in villages %}
    <tr>
        <td>{{ village.nom }}</td>
        <td>{{ village.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}