{% extends 'base.html.twig' %}

{% block title %}Hello ModeFaireValoirController!{% endblock %}

{% block body %}

<h1>MODE DE FAIRE VALOIR</h1>

<h2>Ajout</h2>

<div>
    {{ form_start(modeFaireValoir_form) }}

    {{ form_widget(modeFaireValoir_form) }}

    <button type="submit" class="btn btn-success">Ajout</button>

    {{ form_end(modeFaireValoir_form) }}
</div>

<h2>Listes</h2>

<table class="table">
    <tr>
        <th>Nom</th>
        <th>Description</th>
    </tr>
    {% for modeFaireValoir in modeFaireValoirs %}
    <tr>
        <td>{{ modeFaireValoir.nom }}</td>
        <td>{{ modeFaireValoir.description }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}