{% extends 'base.html.twig' %}

{% block title %}Précédent cultural | CEC{% endblock %}

{% block h1 %}Précédent cultural{% endblock %}

{% block history %}
    <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
    <li class="breadcrumb-item active">Précédent cultural</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {{ form_start(precedentCultural_form) }}

        <div class="form-group form-control">
            {{ form_widget(precedentCultural_form.installeSurPDT) }}
        </div>
        
        {{ form_widget(precedentCultural_form) }}

        <button type="submit" class="btn btn-success">Ajout</button>

        {{ form_end(precedentCultural_form) }}
    </div>
</div>

<h2>Listes</h2>

<div class="row fit card">
    <table class="table table-fit table-cec table-hover">
        <tr>
            <th>Nom</th>
            <th>Installe sur PDT</th>
            <th>Description</th>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <th></th>
                <th></th>
            {% endif %}
        </tr>
        {% for precedentCultural in precedentCulturals %}
        <tr>
            <td>{{ precedentCultural.nom }}</td>
            <td>
                {% if precedentCultural.installeSurPDT == true %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
            <td>{{ precedentCultural.description }}</td>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WRITE') %}
                <td>
                    <a class="btn btn-default" title="Modifier" 
                            href="{{ path('udpate_precedent_cultural', {'id': precedentCultural.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="#" class="btn btn-danger" title="Supprimer" 
                            data-toggle="modal" data-target="#delete-modal"
                            onclick="del('{{ path('delete_precedent_cultural', {'id': precedentCultural.id}) }}')">
                        <i class="fas fa-trash"></i>
                    </a>
                {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}